$clr-soft-violet: 273 75% 66%;
$clr-soft-blue: 240 73% 65%;
$clr-very-dark-grayish-blue: 237 12% 33%;
$clr-dark-grayish-blue: 240 6% 50%;
$clr-light-grayish-blue: 240 5% 91%;
$clr-very-dark-desaturated-blue: 238 29% 16%;
$clr-soft-red: 14 88% 65%;
$clr-white: 0 0% 100%;